{% extends "base.html" %} {% block title %} Add a New Pet {% endblock %} {%
block content %}
<div class="container">
  <h1 class="display-4">Add a New Pet</h1>

  <form method="POST" action="/add">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    "hidden" %}
    <p>{{field.label}} {{field}}</p>
    {% for err in field.errors %} {{err}} {% endfor %} {% endfor %}
    <button class="btn btn-success">Submit</button>
    <button class="btn btn-warning" formmethod="GET" formaction="/">
      Home
    </button>
  </form>
</div>
{% endblock %}
