{% extends "base.html" %} {% block title %} {{pet.name}} {% endblock %} {% block
content %}
<div class="container">
  <h1 class="display-4">All About {{pet.name}}</h1>
  <p>Hi! My name is {{pet.name}} and I am a {{pet.species}}</p>
  {% if pet.age %}
  <p>I am {{pet.age}} years old.</p>
  {% endif %} {% if pet.notes %}
  <p>Just some info on me: {{pet.notes}}</p>
  {% endif %} {% if pet.photo_url %}
  <p>Here's a photo of what I look like!</p>
  <img
    src="{{pet.photo_url}}"
    class="col-md-10 img-responsive"
    style="width: auto; height: 400px"
  />
  {% endif %}
  <h2 class="display-5">Edit Details:</h2>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <p class="text-danger display-6">{{ message }}</p>
  {% endfor %} {% endif %} {% endwith %}
  <form method="POST" action="/{{pet.id}}">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>{{ field.label }} {{ field }}</p>
    {% endfor %}
    <button class="btn btn-success">Submit</button>
    <button class="btn btn-warning" formmethod="GET" formaction="/">
      Home
    </button>
  </form>
</div>
{% endblock %}
